name: timetable_view
description: Timetable Widget Package for for Flutter
version: 0.2.1
homepage: https://github.com/lone-wolf17

environment:
  sdk: ">=2.8.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
